In [17]:
#!
n=0
while n < 10:
  print(n)
  n=n+1
  if n==5:
   break

0
1
2
3
4

In [38]:
#2
n=0
while n < 5:
  print(n)
  n=n+1
if n >= 5:
  print (f'{n} is not less than 5')

0
1
2
3
4
5 is not less than 5

In [56]:
#3
fruits = {'grape': 'very much','orange': 'a lot','blueberry': 'a bunch','lychee': 'too much'}
for x,y in fruits.items():
  print(f'I like {x} {y}')
else:
  print('apple is really a fruit?')

I like grape very much
I like orange a lot
I like blueberry a bunch
I like lychee too much
apple is really a fruit?

In [177]:
#4
i=1
sum=0
while i <= 30:
  i=i+1
  sum+=i
print(sum)

495

In [99]:
#5
grade = 85
if grade >= 90:
  print('A') 
elif grade in range(80,90):
  print('B')
elif grade in range(70,80):
  print('C')
elif grade in range(60,70):
  print('D')
elif grade < 60:
  print('F')

B

In [193]:
#6
marks = {'Andy':88,'Amy':66,'James':90,'Jules':55,'Arthur':77}
#6.1
for student, grade in marks.items():
  print(student,':',grade)

Andy : 88
Amy : 66
James : 90
Jules : 55
Arthur : 77

In [2]:
#6.2
def calculate_grades(marks):
    total = sum(marks.values())
    mean_grade = total / len(marks)
    max_grade =max(marks.values())
    min_grade=min(marks.values())
    
    return mean_grade, max_grade, min_grade

marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

mean_grade, max_grade, min_grade = calculate_grades(marks)

print(mean_grade)
print(max_grade)
print(min_grade)

75.2
90
55

In [170]:
#6.3
for key in marks.keys():
  print(key)
  if 'J' in key:
    break

Andy
Amy
James

In [174]:
#6.4
for key in marks.keys():
  if 'J' in key:
    continue
  print(key)

Andy
Amy
Arthur